* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html {
  width: 100dvw;

  body {
    width: 100dvw;
    place-items: start start;
    background-color: darkgray;

    div#root {
      width: 100dvw;
    }
  }
}
