
div#search-bar {
    width: 100dvw;
    margin: 1rem 0;
    display: flex;
    justify-content: center;

    input#search-bar-text {
        width: 30%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        padding-left: 0.5rem;
        border-style: solid;
        border-color: black;
    }

    button#search-bar-button {
        border-radius: 0;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-style: solid;
        border-color: black;
    }
}
