
div#search-bar {
    width: 100dvw;
    margin: 1rem 0;
    display: flex;
    justify-content: center;

    input#search-bar-text {
        width: 30%;
    }

    button#search-bar-button {
        border-radius: 0;
    }
}
