
nav {
    display: flex;
    align-items: center;
    width: 100dvw;
    height: 7.5vh;
    top: 0;
    background-color: gray;

    h1 {
        color: black;
        font-size: 3rem;
        margin-left: 1rem;
    }
}
